@import 'bootstrap';
@import 'https://fonts.googleapis.com/css?family=Passion+One';

body {
  background-color: black;
  color: white;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Passion One';
  font-size: 6vw;

  .red {
    color: #ff0000;
  }

  .white {
    color: #ffffff;
  }

  .blue {
    color: #0000ff;
  }
}

a:hover {
  text-decoration: none;
}

#brexit {
  display: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
