@import 'bootstrap';
@import 'https://fonts.googleapis.com/css?family=Passion+One';

body {
  background-color: black;
  color: white;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Passion One';
  font-size: 20vw;
}

a:hover {
  text-decoration: none;
}

#brexit {
  display: none;
}
